@charset "utf-8";

.login{}
.login .login-head{width:100%;height:60px;background: #920000;}
.login .login-head-a{width: 1200px; margin: 0 auto;}
.login .login-head-a a>img{width: 100px; height: 60px;}
.login .login-con{text-align: center;background-color: #efefef;height:680px;}
.login .login-con .login-a{background:#020c18 url(../pape/20161205-4.jpg)no-repeat;width:100%; height: 700px; margin: 0 auto;text-align: left;padding-top: 0px;min-height: 700px;}
.login-a .login-a-b{width: 1200px; margin: 0 auto;}
.login .login-con .login-a form{}
.login .login-con .login-a .login-b{float: right;width: 344px;height: 387px;padding: 20px; margin-right: 60px;margin-top: 15%;background: #fff;}
.login .login-con .login-a .login-b .login-b-a{border-bottom: 2px solid #ac0000; height: 46px;line-height: 46px;font-size: 16px;font-weight: bold;padding-left: 15px;}
.login .login-con .login-a .login-b .login-b-b{padding-top: 20px;height: 255px;    padding-left: 30px;}
.login .login-con .login-a .login-b .login-b-b ul li{height: 65px;_height: 60px;list-style-type: none;font-family: "微软雅黑","宋体",Arial;font-size: 14px;}
.login .login-con .login-a .login-b .login-b-b ul li label{display: inline-block;font-size: 16px;color: #666666;}
.login .login-con .login-a .login-b .login-b-b ul li input{width: 180px;color: rgb(153, 153, 153);height: 32px;line-height: 32px;border: solid 1px #d3d3d3;font-size: 14px; border-radius: 2px;}
.login .login-con .login-a .login-b .login-b-b ul li h1{font-weight: normal;color: #ff0000;font-size: 12px;padding-left: 120px;padding-top: 6px;margin: 3px 0px 0px -30px;}
.login .login-con .login-a .login-b .login-b-b ul li #checkCode{height: 32px;line-height: 32px;width: 60px;}
.login .login-con .login-a .login-b .login-b-b ul li img{vertical-align: middle;width: 76px;height: 33px;}
.login .login-con .login-a .login-b .login-b-b ul li a{color: #447bd6;font-family: "微软雅黑","宋体",Arial;font-size: 12px;}
.login .login-con .login-a .login-b .login-b-b ul .login-x{padding-left: 65px;padding-top: 0px;height: 65px;}
.login .login-con .login-a .login-b .login-b-b ul .login-x .login-x-a{width: 100px;height: 50px;float: left;}

.login .login-con .login-a .login-b .login-b-b ul .login-x .login-x-b{}
.login .login-con .login-a .login-b .login-b-c{text-align: center;padding-top: 10px;border-top: solid 1px #f0f0f0;}
.login .login-con .login-a .login-b .login-b-c a{color: #447bd6;font-family: "微软雅黑","宋体",Arial;font-size: 12px;}
.login .login-con .login-a .login-b .login-b-c a:hover{color: #f3ab3a;}
/*.login .login-foot{ text-align: center;font-size: 14px;color: #666666;margin-top: 50px;}
*/
.code{      
/*background-image:url(w1.jpg);*/      
font-family:Arial;      
font-style:italic;      
color:Red;      
border:0;      
padding:2px 3px;      
letter-spacing:3px;      
font-weight:bolder;      
}  
#input1{width: 50px;}   
