/* CSS Document */
body{ background:#fff;}
.focus {height:450px;overflow:hidden;position:relative;}
.focus_m ul {width:100%;height:450px;overflow:hidden;}
.focus_m li {width:100%;height:450px;_float:left;}
.focus_m li.li_1 {background: url(../images/zb_banner.jpg) center 0 no-repeat ;}
.focus_m li.li_2 {background: url(../images/zb_banner.jpg) center 0 no-repeat ;}
.focus_m li.li_3 {background: url(../images/zb_banner.jpg) center 0 no-repeat ;}
.focus_m li.li_4 {background: url(../images/zb_banner.jpg) center 0 no-repeat ;}  
.focus_s {height:0;position:relative;margin:0 auto;z-index:2;width:1000px;}                       
.focus_s ul {height:14px;overflow:hidden;position:absolute;left:50%;top:430px;  }
.focus_s li {float:left;cursor:pointer;height:14px;width:14px;overflow:hidden;margin-right:10px;}
.focus_s li b {display:block;text-indent:-999em;width:10px;height:10px;overflow:hidden; border:2px solid #fff; border-radius:7px;}
.focus_s li.active b{ background:#fff;}
.zb_mk{ width:100%; height:auto; margin-top:75px;}
.zb_mk ul li{ float:left; width:249px; border-right:1px solid #e6e6e6}
.zb_mk ul li i{ display:block; margin:0 auto; width:95px; height:95px;}
.zb_mk ul li i.zb_mk_tu1{ background-position:-8px -44px;}
.zb_mk ul li i.zb_mk_tu1:hover{ background-position:-8px -148px;}
.zb_mk ul li i.zb_mk_tu2{ background-position:-120px -44px;}
.zb_mk ul li i.zb_mk_tu2:hover{ background-position:-120px -148px;}
.zb_mk ul li i.zb_mk_tu3{ background-position:-232px -44px;}
.zb_mk ul li i.zb_mk_tu3:hover{ background-position:-232px -148px;}
.zb_mk ul li i.zb_mk_tu4{ background-position:-340px -44px;}
.zb_mk ul li i.zb_mk_tu4:hover{ background-position:-340px -148px;}
.zb_mk ul li p{ text-align:center; line-height:34px; margin-top:18px; font-size:18px;}
.sy_tj_top{ width:100%; height:40px; background:url(../images/bt_bj.jpg) repeat-x center; margin:68px auto 25px;}
.sy_tj_top h3{ width:150px; height:40px; line-height:40px; background:#fff; font-size:24px; text-align:center; margin:0 auto;}
.det_tit2{ width:100%; height:35px;  }
.det_tit2 ul{ margin:0 auto; width:492px; height:auto;}
.det_tit2 ul li{ float:left; width:110px;cursor: pointer; line-height:35px; text-align:center; font-size:20px; margin:0 27px;  }
.det_tit2 ul li.on{  background:#f36478; color:#fff; border-radius:4px; }
.det_content2{ width:100%; overflow:hidden; }
.hide {
display: none;
}
.zbzx_lb{ margin-top:40px; height:230px;}
.zbzx_lb ul li{ float:left; width:50%; line-height:36px; font-size:14px; background:url(../images/ul_li_bj.gif) no-repeat left center; text-indent:20px;}
.zbzx_lb ul li span{ float:right; margin-right:25px; color:#aeacac}
.zbzx_lb ul li a{ color:#666;}
a.zb_gd_biao{ float:right; padding:3px 8px; border-radius:12px; border:1px solid #999999; margin-top:25px ;}
.bkjs .sy_tj_top{ margin:20px auto 50px;}

.bkjs_di ul li{ float:left; width:370px; height:auto;  margin-left:45px; }
.bkjs_di ul li div{width:370px;height:280px;position:relative}
.bkjs_di ul li div a{ display:block; width:100%; height:280px;  line-height:0;
font-size:0;overflow:hidden; position:absolute; top:0; left:0}
.bkjs_di ul li div a span{ display:block; padding: 20px;}
.bkjs_di ul li div a:hover{ background: #000;opacity:0.7; font-size:14px; line-height:36px; color:#fff; }
.bkjs_di ul li p{ text-align:center; font-size:20px; line-height:80px;}
.ldgh_di ul li{ float:left; width:274px; height:324px; border:1px solid #e9e9e9; background:#f5f5f5; margin-left:32px;}
.ldgh_di ul li p{ line-height:26px; color:#515050; text-indent:2em; margin:18px 5px;}
.ldgh_di ul li a.ck{ display:block; width:158px; height:34px; line-height:34px; text-align:center; color:#fff; font-size:16px; background:#f7778d; border:1px solid #efabb6; margin:0 auto; border-radius:4px;}
.mjtc .sy_tj_top{ margin:20px auto 30px;}
.zb_foot{ width:100%; height:auto; background:#515151}
.zb_foot_nr{ width:1200px; margin:0 auto; padding:40px 0 30px 0;}
.zb_foot_l{ float:left; color:#c6c4c4; line-height:24px;}
.zb_foot_l p{ font-size:14px; color:#a3a3a3}
.zb_foot_l p a{ color:#fff;}
.zb_foot_l p em{ font-family:"宋体";}
.zb_foot_gz{ float:right; line-height:30px; color:#fff;}
.zb_foot_gz img{ margin-left:12px;}
.zb_foot .xian1{ width:100%; height:1px; background:#262626}
.zb_foot .xian2{ width:100%; height:1px; background:#757575}
.zb_foot_bq{ width:1200px; height:auto; margin:0 auto; padding:10px 0; line-height:24px; color:#c6c4c4}
.zb_foot_bq a{ color:#c6c4c4; margin:0 5px;}
.gyzb{ margin-top:64px;}
.gyzb img{ float:left;}
.gyzb_r{ float:right; width:764px; height:auto;}
.gyzb_r h3{ font-size:16px; line-height:28px;}
.gyzb_r div{ line-height:26px; font-size:14px; text-indent:2em; margin-top:5px;}
.gyzb_r div a{ color:#eb4e3b}
.zy_banner img{ width:100%; height:auto;}
/*......03新闻资讯......*/
.kszn_nr{ width:574px; height:auto;  margin-bottom:40px;}
.left{ float:left;}
.right{ float:right}
.kszn_xq{ width:572px; height:auto; border:1px solid #e6e6e6}
.kszn_xq ul{ margin:25px 12px;}
.kszn_xq ul li{ font-size:14px; line-height:36px;}
.kszn_xq ul li a,.jyxw_nr ul li .jyxw_nr ul li{ color:#515050}
.kszn_xq ul li span,.jyxw_nr ul li span{ float:right; color:#b9b8b8}
.jyxw_nr{ width:1198px; height:auto;border:1px solid #e6e6e6; padding-bottom:10px;}
.jyxw_nr h3{ font-size:16px; color:#454545; line-height:42px; text-indent:22px; margin-top:10px;}
.jyxw_nr ul li{ width:50%; float:left; line-height:36px; text-indent:25px;}
.jyxw_nr ul li span{ margin-right:25px;}
.xyfc_nr ul li,.xsfc_nr ul li{ float:left; width:284px; height:290px; border:1px solid #cdcdcd; margin-left:18px;}
.xsfc_nr ul li{ position:relative}
.xsfc_nr ul li a{
	display: block;
	width: 100%;
	height: 280px;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0
}
.xsfc_nr ul li a span{ display:block; padding:40px  20px;}
.xsfc_nr ul li a:hover{ background: url(../images/bkjs_bj.png); font-size:14px; line-height:36px; color:#fff; text-align:center; }
.xsfc_nr ul li a:hover em{ font-size:18px; margin-top:70px }
.xsfc .sy_tj_top{ margin-top:18px;}
.xsfc{ margin-bottom:20px;}
/*....04报刊介绍......*/
.bkjs_nr{ padding:28px 0 34px 0; border-bottom:1px dashed #dddddd}
.bkjs_nr img.bkjs_tu{ box-shadow:0px 3px 5px #b3b3b3;}
.bkjs_nr_r{ width:968px; height:auto;}
.bkjs_nr_r h3{ font-size:24px; color:#484848; line-height:44px; margin-bottom:20px;}
.bkjs_nr_r div p{ text-indent:2em; font-size:14px; line-height:36px; color:#666666;}
.bkjs_nr_r div p a{ color:#a50303}
/*..05服务中心..*/
.lwcx{ width:100%; background:url(../images/lwcx_bj1.gif); height:539px; overflow:hidden;}
.lwcx_c{ width:1200px; height:auto; margin:0 auto;}
.lwcx_c .sy_tj_top h3{ background:#f5f8fa}
.lwcx_nr{ background:url(../images/lwcx_bj.png); height:314px; overflow:hidden; margin-top:70px;}
.lwcx_nr td{ font-size:16px; padding:10px 0;}
.lwcx_nr td .in1{ width:200px; height:28px; border:1px solid #ccc; line-height:28px; text-indent:5px; font-size:14px;}
.lwcx_nr td .lwcx_biao{ background:url(../images/lwcx_biao.gif); width:90px; height:35px; border:none;}
.lwcx_nr table{ margin-top:30px;}
.bkjs_nr_r1{ width:760px;}

/*......06新闻列表......*/
.zy_l{ width:800px; float:left; height:auto;}
.xwlb h3,.tjyd h3{ height:66px; line-height:66px; font-size:20px; margin-top:20px; border-bottom:1px solid #e7e7e7; color:#666;}
.xwlb ul li{ line-height:48px; font-size:14px; background:url(../images/ul_li_bj.gif) no-repeat left center; text-indent:20px; border-bottom:1px dashed #ececec}
.xwlb ul li a{ color:#6666;}
.xwlb ul li span{ float:right; color:#bcbcbc}
.fy{ margin:30px auto; text-align:center; font-size:14px;}
.fy span{ margin:0 5px;}
.fy span a{ padding:2px 8px; border:1px solid #ccc;}
.fy span a:hover{ padding:2px 8px; border:1px solid #e30000; background:#e30000; color:#fff}
.fy span.on{ padding:2px 8px; border:1px solid #e30000; background:#e30000; color:#fff}
.zy_r{ float:right; width:314px;}
.tjyd ul{ margin-top:20px;}
.tjyd ul li{ line-height:30px; font-size:14px; margin-top:5px;}
.tjyd ul li a{ display:block; width:100%;}
.tjyd ul li span{ color:#bcbcbc}
.xw_xq h3{ font-size:24px; margin-top:44px;}
.xw_xq h4{ font-size:14px; line-height:56px; color:#999;}
.xw_xq div{ font-size:14px; line-height:36px; margin:30px auto;}
.xw_xq img{ max-width:100%;}
.tplb{ margin-top:20px;}
.tplb ul li{ float:left; width:246px; margin-left:31px; margin-top:20px;}
.tplb ul li img{ border:1px solid #b4b1b0;}
.tplb ul li p{ font-size:14px; line-height:26px; margin:5px auto;}



.xyfc_nr .container .grid li{
	margin:0;
	padding:0;
	margin-left:18px;
}
.xyfc_nr .container .grid li:first-child{
	margin-left:0;
}
.my_figure{
	margin:0;
	padding:0;
	width:570px;
	height:317px;
}

.zy_c .zy_l .tplb ul li a img{
	transform:scale(1.0);
	transition:all 0.5s linear;
	border-radius:0;
}
.zy_c .zy_l .tplb ul li a img:hover{
	transform: scale(0.8);
	border-radius:30%;
}




